body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    cursor: pointer;
}

.message {
    padding: 10px;
    background: #eeeeee;
    border-radius: 4px;
}
.post{
    margin-top:20px;
    border:1px solid #ccc;
    padding:15px;
    border-radius:6px;
    background:white;
}
